# --- NetBeans ---
/build/
/nbproject/private/
/dist/
nbactions.xml
nb-configuration.xml

# --- VS Code ---
.vscode/
*.code-workspace

# --- Java & Compilación ---
*.class
*.jar
*.war
*.ear

# --- Gestores de Dependencias ---
# Si usas Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup

# Si usas Gradle
.gradle/
/build/

# --- Sistema Operativo ---
.DS_Store
Thumbs.db